@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --bg: #10081a;
  --primary-1: #4ca9df;
  --primary-2: #292e91;
  --white: #fff;
  --text: #e6d9f5;
}

/* *,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
} */

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
    background: var(--bg) !important;
    height: 100vh;
    overflow-x: hidden;
    color: var(--white);
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-sb {
    justify-content: space-between;
}
.w-100 {
    width: 100%;
}
.section {
    padding: 60px 10px;
}

*::selection{
    background-color: var(--primary-1);
    color: var(--black);
  }
  
  *::-webkit-scrollbar{
    height: .5rem;
    width:1rem;
  }
  
  *::-webkit-scrollbar-track{
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-thumb{
    background-color:var(--primary-1);
  }
  

/* Navbar */
.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 30px;
    background: #000;
    z-index: 9;
    color: var(--text);
}
.navbar-solid {
    background: black;
    transition: 0.3s linear;
    box-shadow: 1px 1px 0px rgba(252, 240, 255, 0.2);
}
.brand {
    font-size: 3.6rem;
    font-weight: 700;
    cursor: pointer;
}
.brand a {
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    cursor: pointer;
}
.nav-links {
    flex: 0 0 33%;
    margin-left: 10%;
}
.nav-link {
    text-decoration: none;
    color: var(--text);
    font-size: 2rem;
    padding: 5px 0;
    font-weight: 300;
}

.nav-link.active {
    font-weight: 700;
    border-bottom: 1px solid var(--primary-1);
}

.block-button {
    /* display: inline-block; */
    display: none;
    background: linear-gradient(93.23deg,
    var(--primary-1) 0%,
    var(--primary-2) 100%);
    padding: 14px 26px;
    border-radius: none;
    text-decoration: none;
    color: var(--white);
    font-size: 1.6rem;
    cursor: pointer;
}


.form {
    --input-text-color: #fff;
    --input-bg-color: #10081a;
    --focus-input-bg-color: transparent;
    --text-color: #949faa;
    --active-color: #4ca9df;
    --width-of-input: 200px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
  }
  
  .form {
    font-size: 3rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--width-of-input);
    position: relative;
    isolation: isolate;
    width: 20%;
  }
  
  .fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
  }
  
  .search,.close-btn {
    position: absolute;
  }
  
  .search {
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
  }
  
  svg {
    width: 20px;
    display: inline-block;
  }
  
  .close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-color);
    opacity: 0;
    visibility: hidden;
  }
  
  .input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
  }
  
  .input:focus {
    outline: none;
  }
  
  .input::placeholder {
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 0 1.5rem;
  }
  
  .input:focus ~ .fancy-bg {
    border: 1px solid var(--active-color);
    background: var(--focus-input-bg-color);
  }
  
  .input:focus ~ .search {
    fill: var(--active-color);
  }
  
  .input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }

  /* profile */

ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 3rem;
    /* padding-left: 10%; */
}

li {
    list-style-type: none;
    position: relative;
    padding: 0.625rem 0 0.5rem;
}

li ul {
    flex-direction: column;
    position: absolute;
    background-color: black;
    align-items: center;
    transition: all 0.5s ease;
    width: 15rem;
    right: -3rem;
    top: 4.5rem;
    border-radius: 0.325rem;
    gap: 0;
    padding: 1rem 0rem;
    opacity: 0;
    box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
    display: none;
}

li img {
    border-radius: 2rem;
  }

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.material-icons-outlined {
    color: white;
    transition: all 0.3s ease-out;
}

.material-icons-outlined:hover {
    color: var(--primary-1);
    transform: scale(1.25) translateY(-4px);
    cursor: pointer;
}


.profile {
    height: 4rem;
    width: auto;
    cursor: pointer;
}

.sub-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.725rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}

.sub-item:hover {
    background-color: rgba(232, 232, 232, 0.4);
}

.sub-item:hover .material-icons-outlined {
    color: var(--primary-1);
    transform: scale(1.08) translateY(-2px);
    cursor: pointer;
}

.sub-item:hover p {
    color: white;
    cursor: pointer;
}

.sub-item p {
    font-size: 0.85rem;
    color: #888888;
    font-weight: 500;
    margin: 0.4rem 0;
    flex: 1;
}

/* End Navbar */

.in4 {
    width: 100%;
    height: 100%;
    margin-top: 108px;
    background-color: var(--bg);
    padding: 0 9% 7rem;
}

.in4-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    position: relative;
}

.in4-header span {
    font-size: 2.2rem;
    font-weight: 700;
}

.in4-header button {
    display: none;
    background-color: var(--yellow);
    border-radius: 5rem;
    padding: .5rem 1.7rem;
    color: aliceblue;
}

.in4-header button:hover {
    cursor: pointer;
    background-color: rgb(224, 174, 35);
}

.in4-header::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border-radius: 5rem;
}

.in4-content {
    padding-top: 3rem;
}

.user-img {
    border-radius: 50%;
    padding-bottom: 1rem;
}

.show-top {
    width: 50%;
    text-align: center;
}

.show-top .name {
    font-size: 1.8rem;
    font-weight: 650;
    color: var(--primary-1);
}

.show-top .mail {
    font-size: 1.3rem;
    font-weight: 300;
}

.option {
    display: flex;
    justify-content: space-between;
    padding: .7rem 2rem;
    font-size: 1.3rem;
}

.show-bottom {
    padding-top: 2rem;
}

.show-bottom span{
    list-style: none;
}

.show-bottom p {
    font-size: 1.7rem;
    padding: .4rem 0 0 0;
}

.show-bottom p:hover {
    cursor: pointer;
    color: var(--primary-1);
}

.show-bottom .title {
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-1);
}

.detail-top .title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-1);
}

.detail-top .document {
    font-size: 1.4rem;
    padding: 1.5rem 0;
    display: block;
}

.card {
    background-color: #fff;
    border-radius: 1.2rem;
    border: 1px solid #999898;
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: 0 0.15rem 0.2rem 0.1px rgba(0, 0, 0, 0.25);
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.card:hover {
    cursor: pointer;
    outline: var(--outline);
    outline-offset: -1rem;
}

.card .topic {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.card .topic span {
    font-weight: 600;
    color: var(--primary-1);
}

.card .topic i {
    color: var(--primary-1);
    margin: auto 0;
}

.card .content {
    color: #000;
    font-size: 1.6rem;
    padding: 1rem 0;
    padding-bottom: 3rem;
}

/* Footer */

.footer {
    background: #000 !important;
    padding: 20px 25px;
}
.footer-menu {
    width: 20%;
}
.footer-menu img {
    width: 18px;
}
/* End Footer */

.menu-btn {
    display: none;
}

@media (max-width: 600px) {
    .detail-top {
        display: none;
    }

    .show {
        text-align: center;
    }

    .show .show-top{
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 8px;
    }
    .navbar {
        flex-direction: column;
        height: 80vh;
        background: var(--bg);
        padding: 30px 0; 
        border: 1px solid var(--primary-1);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 94%;
        margin: 0 2.5%;
        border-top-color: transparent;
        transition: 0.5s ease;
        transform: translateY(-1300px);
    }
    .nav-links {
        flex-direction: column;
    }
    .menu-btn {
        display: block;
        background-color: var(--primary-1);
        height: 45px;
        width: 45px;
        position: fixed;
        top: 22px;
        right: 40px;
        z-index: 2222;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
        text-align: center;
        cursor: pointer;
    }
    .menu-btn-icon,
    .menu-btn-icon::after,
    .menu-btn-icon::before {
        width: 25px;
        height: 2px;
        background-color: var(--text);
        display: inline-block;
        transition: all 0.2s;
    }
    .menu-btn-icon {
        position: relative;
        margin-top: 22px;
    }

    .menu-btn-icon::after,
    .menu-btn-icon::before {
        position: absolute;
        content: "";
        left: 0;
    }
    .menu-btn-icon::before {
        top: 0.8rem;
    }
    .menu-btn-icon::after {
        top: -0.8rem;
    }
    .menu-btn.active .menu-btn-icon {
        background-color: transparent;
    }

    .menu-btn.active .menu-btn-icon::after {
        transform: rotate(-135deg);
        top: 0;
    }
    .menu-btn.active .menu-btn-icon::before {
        transform: rotate(135deg);
        top: 0;
    }
    .navbar.mobile {
        transform: translateY(0);
    }
    .section {
        padding: 20px 5px;
    }
    .offers-container,
    .account-container {
        flex-direction: column;
    }
    .offers-image,
    .offers-content,
    .account-image,
    .account-content {
        width: 100%;
    }
    .offers-image {
        background-position: center;
    }
    .account-container {
        text-align: center;
        margin-bottom: 30px;
    }
    .account-content p {
        width: 100%;
    }
    .subscribe-container img,
    .investor img {
        width: 180px;
    }
    .get-notified {
        width: 65%;
        margin: 40px 17.5%;
    }
    .get-notified input {
        padding: 12px;
    }
    .get-notified .block-button {
        top: 2px;
        right: 2px;
    }
    .footer-menu img {
        width: 14px;
    }
    .footer{
        top: 25%;
    }
}

/* responsive */

@media (max-width: 991px) {
    
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    
    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width: 450px) {
    
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .footer {
        text-align: center;
    }
}



/* end responsive */

